.content{ 
  grid-area: c; 
  background-color:rgb(10, 71, 8);  
}  
.item{ 
  color: rgb(162, 163, 99);
} 
.item img{ 
  width: 100px;
}  
.postsBlock{ 
  padding:10px;
} 
.posts{ 
  margin-top:30px;
}

  